<div class="jumbotron">
  <h1>Challenge #{{challenge.id}}</h1>

  <div class="margin-bottom-large text-muted">Submitted
    by <a href="#/users/{{challenge.user.id}}">{{challenge.user.display_name}}</a> &bull;
    <ng-pluralize count="challenge.photos.count" when="{'one': '1 photo', 'other': '{} photos'}"></ng-pluralize>
  </div>
  <div ng-if="challenge.daily_challenge_date">
    <div class="badge alert-warning"><i class="fa fa-star"></i> Daily Challenge for
      {{challenge.daily_challenge_date | date: 'yyyy MMM dd'}}
    </div>
  </div>

  <p>{{challenge.description}}</p>
</div>

<div class="row" ng-if="challenge.photos.links.length > 0">
  <div class="col-xs-3" ng-repeat="photo in challenge.photos.links">
    <a href="#/photos/{{photo.id}}" class="thumbnail"><img ng-src="{{photo.url}}"/> </a>
  </div>
</div>

<div class="alert alert-info" ng-if="challenge.photos.links.length == 0">
  No photos have been posted for this challenge.
</div>
