@import "lazy";
@import "variables";
@import "mixins";
@import "footer";


.challenges {
  .challenge {

    .counts {
      .vote-link {
        color: inherit;
        display: block;

        &.voted {
          color: #d9534f;
        }
      }
    }

    .detail {
    }
  }
}

img.photo {
  max-width: 100%;
}
